__pycache__/
*.py[cod]
*.so
*.egg-info/
.pytest_cache/
.mypy_cache/

.venv/
venv/
env/
.env
.vscode/

.ipynb_checkpoints/

data/*
!data/.gitkeep
!data/reference/
data/reference/*
!data/reference/.gitkeep

models/*.joblib
models/*.pkl
models/*.h5
!models/.gitkeep

reports/*
!reports/.gitkeep

mlruns/
notebooks/mlruns/
notebooks/mlruns.old/
notebooks/mlflow_plots/

*.log
*.jsonl

dist/
build/

*.zip
